/* Command */
:root {
    --white: #ffffff;
    --black: #000000;
    --sfondo: #B4D0E7;
    --botton: #0a80ff;
    --grey: #EDEDEE;
    --link: #5A60F2;
    --square1: #A2D39B;
    --border-square1: #D1E9CD;
    --square2: #61082B;
    --square5: #D5001F;
    --square6: #B4D0E7;
    --square3: #0093CE;
    --square4: #FF1C1C;
    --square7: #0D2481;
    --square8: #FFD830;
    --square-big: #F5F5F5;
    --dark-grey: #767676;
    --title-small: #61082B;
    --font-xxs: 12px;
    --font-xs: 14px;
    --font-s: 18px;
    --font-m: 25px;
    --font-l: 46px;
    --font-xl: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
    min-width: 1000px;
    height: max-content;
    /* rimuovere */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
}

h1 {
    font-size: var(--font-xl);
}

h2 {
    font-size: var(--font-l);
    margin-bottom: 50px;
}

h3 {
    font-size: var(--font-m);
}

h4 {
    font-size: var(--font-s);
}

h5 {
    font-size: var(--font-xs);
}

.max-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.min-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--botton);
}

/* bottoni */
.btn {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.2s;
}

.btn-white {
    background-color: var(--white);
    color: var(--botton);
    border: 1px solid var(--botton);
    font-size: var(--font-xxs);
}

.btn-blue {
    background-color: var(--botton);
    color: var(--white);
    font-size: var(--font-xs);

}

.btn:hover {
    background-color: var(--grey);
    color: var(--botton);
    scale: 0.99;
}

.btn-link-white {
    display: block;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    transition: 0.2s;
    border: 2px solid var(--black);
    margin: 10px 0;
    color: var(--black);
}

/* header */
header nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-color: var(--white);
    padding: 20px;
    border-bottom: 1px solid var(--grey);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

ul.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.logo-flex {
    display: flex;
    transition: 0.5s;
}

.logo-flex:hover {
    background-color: var(--grey);
    scale: 0.9;
}

.logo-text {
    width: 95%;
}

.logo {
    font-size: 20px;
}

/* main */
main {
    margin-top: 80px;
    padding-top: 80px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
}

section svg {
    width: 35%;
}

.container-right {
    width: 40%;
}

div.flex-container-row {
    display: flex;
    justify-content: space-between;
}

.split-section {
    padding: 20px;
    text-align: center;
}

label.label {
    font-size: 18px;
    color: var(--dark-grey);
}

input.input {
    width: 100%;
    border: 1px solid var(--dark-grey);
    padding: 10px;
    border-radius: 5px;
}

.margin-bottom {
    margin-bottom: 20px;
}

/* footer */
footer {
    background-color: var(--white);
    min-height: 280px;
    padding: 30px;
}

nav.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid var(--dark-grey);
}

footer nav {
    padding-bottom: 20px;
}

footer nav li a {
    color: var(--dark-grey);
}

footer nav li {
    padding: 10px;
}

.flex-heart {
    display: flex;
}

#lang-select {
    text-decoration: none;
    min-width: 60px;
    border-color: transparent;
}

.relative {
    position: relative;
}

.absolute {
    display: none;
    background-color: var(--white);
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

div.lang:hover .absolute,
div.lang:hover #overlay {
    display: block;
}

#close-lang {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
}

#overlay {
    display: none;
    background-color: rgba(99, 114, 130, 0.5);
    z-index: 9999;
    position: fixed;
    inset: 0;
}

.box-lang {
    display: flex;
    flex-flow: column wrap;
    height: 200px;
    width: 400px;
}

div.absolute h3 {
    padding-bottom: 20px;
}

.link-lang {
    color: var(--link);
    cursor: pointer;
}

.link-lang:hover {
    text-decoration: underline;
}